body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: blue;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.delete-btn {
    background-color: gray;
    color: red;
}

.done-checkbox {cursor: pointer;
}
